$color-blue: #0d6efd;
$color-indigo: #6610f2;
$color-purple: #6f42c1;
$color-pink: #d63384;
$color-red: #dc3545;
$color-orange: #fd7e14;
$color-yellow: #ffc107;
$color-green: #198754;
$color-teal: #20c997;
$color-cyan: #0dcaf0;
$color-white: #fff;
$color-gray: #6c757d;
$color-gray-dark: #343a40;
$color-primary: #c9ffc7;
$color-secondary: #6c757d;
$color-success: #198754;
$color-info: #0dcaf0;
$color-warning: #ffc107;
$color-danger: #dc3545;
$color-light: #f8f9fa;
$color-dark: #212529;
$white-pale:#ffffff80;
$black-dark-mode:#22252C;
$header-bg:#3B4046;
$color-blur:#ffffffb3;
$btn-primary:#C9FFC7;
$section-primary:#31343b ;
$section-border-r:8px;
$sectionitems-bg:#22252C;
