i.tariff-icon{
    padding: 23px;
    width: max-content;
    left: 10px;
    top: 10px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 8px;
    display: inline-block;
    background-color: #22252C;
}