.faq{
    margin-top: 4.375rem;
}

.faq-page-container{
    max-width: 960px;
    margin: auto;
}
.accordion-item{
  position: relative;
  
}
#flip{
  padding: 24px 24px;
  cursor: pointer;
  background-color: #31343b;
  outline: none;
  font-size: 1rem;
  border-radius: 8px;
  font-weight: 600;
  color: $color-white;
  
}
.faq-content{
    margin-top:6.5rem ;
}



#panel{
margin-bottom: 10px;
   border-radius: 8px;
   margin-top: 5px;
   padding: 0; 
   background-color:#31343b ;
   border:1px solid #c9ffc7;
    max-height: 0;
    opacity: 0;
    transition: opacity 0.2s,max-height 0.8s;
    &.active{
        opacity: 1;
        max-height: 850px;
        transition: opacity 1s,max-height 0.8s;
  }
    
 }
  
.accordion-body{
    padding: 20px 24px 58px;
    p{
        line-height: 26px !important;
    }
    &__heading{
        margin-bottom: 44px;
        h6{
            color: #c9ffc7;
          font-size: 18px !important;
        }
        
    }
}

  @media screen and(max-width:992px) {
    .faq-page-container{
      max-width: 90%;
  }
}

@media screen and(max-width:768px) {
    .faq{
        .pageheading{
            h2{
                font-size: 2.188rem !important;
            }
        }
    }

    .content{
        p{
            font-size: 1rem !important;
            line-height: 1.5rem;
        }
        
    }
}

@media screen and(max-width:576px) {
    .faq{
        .pageheading{
            h2{
                font-size: 1.5rem !important;
            }
            p{
                font-size: 1rem;
            }
        }
        .content{
            padding: 2rem 1rem 2.5rem !important;
            li{
                p{
                    &::before{
                     left: -0.625rem;
                    }
                }
            }
        }
    }
}