// .custommregaccount{
//     width: 328px !important;
// }
// .custommyaccount{
//     padding: 24px !important;
// }

// .customloginaccount{
//     width: calc(100% - 328px) !important;
//     margin-left: 0 !important;
//     padding: 24px 48px 40px 24px !important;
//     p{
//         font-size: 1rem !important;
//     }

// }

.tabspriority{
    width: fit-content;
    margin: 0 auto;
    margin-top:60px;
    height: 53px;
    padding: 16px 0;
    border-radius: 8px;
    border: 1px solid rgba(255,255,255,0.2);
    .custompriority{
        padding: 16px 30px;
        width: 100%;
        &:hover{
            background-color: #22252C;
            border-radius: 8px;
        }
    }
}


.myregister{
    display: flex;
    margin-top: 60px;
    background-color:#31343b;
    border-radius: 8px;
    margin-bottom: 60px;
    padding: 24px;
    .custommregaccount{
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 64px;
        width: 328px;
        background-color: #c9ffc7;
        h2{
            color: #181C1F;
            margin-bottom: 40px;
            font-weight: 700;
            margin-bottom: 40px;
            font-size: 40px;
            line-height: 56px;
        }
        a{
            padding: 14px 30px;
            border: 2px solid #181C1F;
            border-radius: 8px;
            width: 100% !important;
            font-weight: 500;
            color: #000;
            text-align: center;
            &:hover{
                background-color: rgba(255,255,255,0.11);
            
            }
        }
    }
    .customloginaccount{
        .registerpageregbtn{
           
            width: 449px;
            margin: auto;
            padding: 16px 0;
            text-align: center;
            font-size: 1rem;
            background-color: $color-primary;
            color: #000;
            border-radius: 8px;
            margin-top: 30px;
        }

        .videoinstructior{
            display: flex;
            align-items: center;
            span{
                margin-left: 10px;
                font-size: 1rem;
            }

        }

        .conditions{

            a{
                color: $color-primary;
            }
            margin-top: 10px;
            display: flex;
            align-items: center;
            position: relative;
            input{
                height: 24px;
                width: 24px;
                margin-right: 8px;
                border: 2px solid rgba(255,255,255,0.2);
                background-color: transparent;
                position: relative;
                border-radius: 0.25rem;
            }
            .checkboxback{
                background-color: $color-primary;
            }
           .tickcustom
           {
              
            position: absolute;
            left: 10px;
            top: 4px;
            display: none;
            svg{
                fill: black;
            }
            &.tickactive{
                display: inline;
            }
           }

        }
        .inputrow{
            margin-top: 50px;
        }

        .pageheading{
            p{
                line-height: 28px !important;
            }
        }
        padding: 24px 48px 40px 24px;
        width: calc(100% - 328px);
        .emailinput input,
             .passinput input{
                width: 100%;
                font-size: 1rem;
                font-weight: 500;
                border-radius: 8px;
                margin-top: 20px;
                margin-bottom: 20px;
                outline: none;
                border: none;
                height: 56px;
                padding: 16px;
                color: #fff;
                background-color: #22252C;
            }
            .emailinput{
                position: relative;
                #email:focus+ .emaillabel
                   {
                        position: absolute;
                        padding: 16px;
                        top: 10px;
                        left: 0;
                        font-size: 14px;
                        opacity: 0.5;
                        transition: top 0.2s;
                   }
                   #email:focus{
                       padding-bottom: 5px;
                   }
                .emaillabel{
                   
                position: absolute;
                padding: 16px;
                top: 21px;
                left: 0;
                transition: top 0.2s;
            }
            }
            .passinput{
                position: relative;
                #password:focus+ .passlabel
                {
                     position: absolute;
                     padding: 16px;
                     top: 10px;
                     left: 0;
                     font-size: 14px;
                     opacity: 0.5;
                     transition: top 0.2s;
                }
                #password:focus{
                    padding-bottom: 5px;
                }
                .passlabel{
                position: absolute;
                padding: 16px;
                top: 21px;
                left: 0;

                

                
            }
            i{
                position: absolute;
                top: 37px;
                right: 19px;
             }

           
            }

        
    }

    
}


@media screen and(max-width:992px) {

    .registerpageregbtn{
        width: 100% !important;
    }

   .myregister{
       flex-direction: column;
       justify-content: center;
       align-items: center;
      
   }
   .custommregaccount{
       margin-top: 64px;
       padding: 32px !important;
       width: 100% !important;
       
   }

   .customloginaccount{
    padding: 24px 23px 40px 24px !important;
       margin-left: 0 !important;
       width: 100% !important;
   }
}
@media screen and(max-width:500px) {
 .tabspriority{
     a{
         width: 100% !important;
     }
 }

 .customloginaccount{
     padding: 15px !important;
 }
 }

 @media screen and(max-width:400px) {
    .registerpageregbtn{
        width: 90% !important;
    }
    .customloginaccount{
        padding: 0 !important;
    }
    .myregister{
        padding: 10px !important;
    }
    }

